<!DOCTYPE html>

<html>
  <head>
    <meta charset="UTF-8">
    <title>Hosts</title>
    <link href="../styles/main.css" rel="stylesheet">
  </head>
  <body>
    <div class="message message--hidden">
      <svg version="1.1" viewBox="0 0 90 90" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" class="message__icon message__icon--error">
        <path d="M57,46 L85,74 L74,85 L46,57 L17,85 L6,74 L34,46 L6,17 L17,6 L46,34 L74,6 L85,17 L57,46 Z"></path>
      </svg>

      <svg version="1.1" viewBox="0 0 90 90" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" class="message__icon message__icon--sucess">
        <path d="M90,21 L30,81 L0,51 L11,40 L30,59 L79,10 L90,21 Z"></path>
      </svg>
    </div>

    <script async defer src="../scripts/main.js"></script>
  </body>
</html>